.navbut1 {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.navbut1:hover {
  transform: scale(1.05);
}

.navbut1.active {
  background-color: #333;
}

.search-container {
  margin-left: 10px;
  position: relative;
}

.search-container .ant-input {
  border-radius: 20px;
  padding: 8px 32px 8px 10px;
  width: 200px;
  border: 1px solid #d9d9d9;
}

.search-container .ant-input-affix-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.search-container .ant-input-affix-wrapper:hover,
.search-container .ant-input-affix-wrapper-focused {
  box-shadow: none;
  border-color: #40a9ff;
}

.search-container .ant-input-affix-wrapper-focused .ant-input {
  border-color: #40a9ff;
}

.search-container .ant-input-suffix {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  color: #1890ff;
  cursor: pointer;
}

.search-container .ant-input-suffix:hover {
  color: #40a9ff;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  background-color: #40a9ff;
  color: #fff;
  height: 43px;
  border-radius: 0 20px 20px 0;
}